<h1>Reset Your Password</h1>
<%= form_with model:@user , url: password_reset_edit_path(token: params[:token]), method: :patch do |form| %>
    <%= render partial: "shared/form_errors", locals: { form: form } %>
  <div class="mb-3">
    <%= form.label :password, "New Password" %><br>
    <%= form.password_field :password, required: true , class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, "Confirm New Password" %><br>
    <%= form.password_field :password_confirmation, required: true , class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Reset Password",  class: "btn btn-primary" %>
  </div>

<%end%>